.btn {
  display: block;
  background-color: azure;
  width: 90%;
  font-size: 1.5rem;
  padding: 20px 0;
  cursor: pointer;
}

.addBTN {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid gray;
}

.addBTN:hover {
  background-color: lightgreen;
}