.noteItem {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: 10px auto;
  padding: 5px 20px;
  text-align: left;
  border: 1px solid black;
}

.noteTitle {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}

.modDate {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

.btn#delete {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}

.edit {
  width: 73%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
  z-index: 100;
  text-align: center;
  font-size: 1.5rem;
  background-color: azure;
}

.edit:hover {
  width: 73%;
  background-color: rgb(241, 225, 0);
}